body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-light{	
	background-color: #42f4aa;
}

.jumbotron {
  margin: 0px auto;
  background: #FFFFFF;
  color: floralwhite; }

.carousel {
  background: #42f4aa; 
}

.carousel .carousel-item {
    height: 500px; 
}
    
.carousel .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 500PX;
    width: 500px;
}

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

.carousel-caption p{
	color: black;
}

.green {
	background-color: #42f4aa;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.mains{
	width: 200px;
	height: 200px;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

.footer {
  background-color: #2bffa6;
  margin: 0px auto;
  padding: 20px 0px; }

  .prod{
  	padding: 50px 50px 50px 50px;
  }

 .modalHead{
  background-color: #42f4aa;
  color: #FFFFFF; }
  .closeColor{
    color: floralwhite; }

.modalBody{
  background: #FFFFFF;
}